* {
    box-sizing: border-box;
    cursor: url("images/cursor.cur"), auto;
    background-color: black;
    font-size: 100%;
    font: inherit;

  }

.row {
    display: flex;
  }

.column { /* Creates two equal columns that sits next to each other */
    flex: 50%;
    padding: 10px;
  }

html, body, div, span, object, header {
    cursor: url("images/cursor.cur"), auto;
    background-color: black;
    color: white;
    margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
    display: block;
}

.inner {
  max-width: 75em;
  margin: 0 auto;
}

.buttoncolumn {
    flex: 50%;
    padding: 10px;
    top: 350px;
    /*
    top: 600px;
    */
  }

.header {
    background-color: black;
    font-family: 'Jim Nightshade', Times, cursive;
    padding: 5px;
  }

.header h1 {
    font-size: 100px;
    font-weight: 100;
    color: #880000;
    line-height: 0.2em;
    text-align: center;
}

/**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**/
#pic  {
  padding-left: 100px;
}
/**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**/


#start {
    color: white;
    background: black;
    width: 60%;
    overflow: auto;
    height: 300px;
    left: 50px;
}

.boldtext {
    color: #FF0000;
    font-size: 10pt;
}

li {
    list-style-type: none;
    font-size: 16pt;
  }

.mail {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  background : #D8F1F8;
  border: 1px solid silver;
  }

.mail h2 {
  margin-left: 38px;
  }

input {
  font-size: 20pt;
  background-color: white;
}

input submit {
    font-size: 12pt;
}

.startButton {
    background-color: #cc0000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.startButton:hover {
    background-color: white;
    color: black;
    border: 2px solid #cc0000;
}

#bottomButtons {
text-align: center;
padding: 10px;
position:absolute;
left: 50px;
}

.quit{
  background-color: #cc0000;
 border: none;
 color: white;
 padding: 16px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 transition-duration: 0.4s;
 cursor: pointer;
 float: left;

}
.quit:hover{
  background-color: white;
  color: black;
  border: 2px solid #cc0000;
}

.help{
  background-color: #cc0000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;

}
.help:hover{
  background-color: white;
  color: black;
  border: 2px solid #cc0000;
}

.learn{
 background-color: #cc0000;
 border: none;
 color: white;
 padding: 16px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 transition-duration: 0.4s;
 cursor: pointer;
}

.learn:hover{
  background-color: white;
  color: black;
  border: 2px solid #cc0000;
}

/**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**/



#userFriendly{
 background-color: #cc0000;
 border: none;
 color: white;
 padding: 16px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 transition-duration: 0.4s;
 cursor: pointer;
}

#userFriendly:hover{
  background-color: white;
  color: black;
  border: 2px solid #cc0000;
}

#playPause{
 background-color: #cc0000;
 border: none;
 color: white;
 padding: 16px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 transition-duration: 0.4s;
 cursor: pointer;
 border-radius: 50%;
}

#playPause:hover{
  background-color: white;
  color: black;
  border: 2px solid #cc0000;
}

#playPause:hover
{
      -webkit-transform: rotateZ(-360deg);
      -ms-transform: rotateZ(-360deg);
      transform: rotateZ(-360deg);
}

/**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**/


.wrapper{
  height: auto;
  width: auto;
  text-align: center;
  display:inline-block;
  overflow:auto;
}

.helpText{
  color: #cc0000;
  background-color: white;
  border-width: 15px;
  border-color: red;
  border-style: inset;
  height: auto;
  width: auto;
  text-align: center;
  align-content: center;
  overflow: auto;
}
.LeaderBoard{
  color: #cc0000;
  background-color: white;
  border-width: 15px;
  border-color: red;
  border-style: inset;
  height: 200px;
  width: 1500px;
  text-align: center;
  align-content: center;
  overflow: auto;
}

.game{

  color: #cc0000;
  height: 600px;
  width: 1400px;
  overflow: hidden;
  border-style: solid;
  display: inline-block;
  color: white;
  font-size: 200%;
  margin-left: 50px;
  }

.gameimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 400px
}
)
/* Footer Section */
#footer {
    border-top: 1px solid #dbdbdb;
    padding-top: 3em;
}

#footer .copyright {
    color: #bbbbbb;
    font-size: 0.8em;
    margin: 0 0 2em 0;
    padding: 0;
}

.flex {
display: -ms-flexbox;
-ms-flex-wrap: wrap;
-ms-flex-pack: justify;
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
-ms-justify-content: space-between;
justify-content: space-between;
}

.normal {
    font-size: 100%;
    font-family: 100%;
}
.large {
    font-size: 150%;
    font-family: 150%;
}


.buttonflashing {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  animation: glowing 1300ms infinite;
  margin-left: 250px;
  margin-top: 150px;
}

.buttonflashingWin{
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  animation: glowingWin 1300ms infinite;
  margin-left: 250px;
  margin-top: 150px;
}

@keyframes glowing {
      0% { background-color: #a81305; box-shadow: 0 0 5px #a81305; }
      50% { background-color: #eb5736; box-shadow: 0 0 20px #eb5736; }
      100% { background-color: #a80505; box-shadow: 0 0 5px #a80505; }
}

@keyframes glowingWin {
      0% { background-color: #00cc00; box-shadow: 0 0 5px #00cc00; }
      50% { background-color: #33cc33; box-shadow: 0 0 20px #33cc33; }
      100% { background-color:#003300; box-shadow: 0 0 5px #003300; }
}

.brightness {
    background-color: white;
    display: inline-block;

}
.brightness img:hover {
    opacity: .5;
}

.gameheader{

  text-align: center;
  text-decoration: none;
  font-size: 50px;
  float: left;
}
#userName {

  text-align: center;
}

.exitgame{
    background-color: #cc0000;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      float: right;
      margin-right: 50px;
  }
}
